<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Заголовок -->
    <header>
        <h1>Виктория Сивакова</h1>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'portfolio' %}">Портфолио</a>
            <a href="{% url 'contact' %}">Контакты и цены</a>
        </nav>
    </header>

    <!-- Основной контент -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        © Виктория Сивакова, 2024
    </footer>
</body>
</html>
