{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="contact-section">
    <h2>Контактная информация</h2>
    <p>Хотите связаться со мной? Вы можете написать мне в социальных сетях.</p>

    <h3>Социальные сети</h3>
    <ul class="social-links">
        <li><a href="https://vk.com/victoria_photographer_bryansk" target="_blank"><i class="fab fa-vk"></i> Моя страница в VK</a></li>
    </ul>

    <h3>Стоимость</h3>
    <p><strong>4000 рублей/час</strong></p>
    <p>У меня нет готовых пакетов услуг или комплексных предложений.
        Возможно, это покажется странным, но я считаю такой подход удобным для клиента и для меня.
        В зависимости от вашей задачи, мы можем обсудить дополнительные услуги, такие как:</p>
    <ul>
      <li>Визажист</li>
      <li>Выезд за город</li>
      <li>Съемка с использованием специального оборудования</li>
    </ul>
    <p>Однако зачастую заказчикам требуется фотограф на несколько часов. Это позволяет вам легко рассчитать общую стоимость услуг.</p>
    <p>Я работаю преимущественно в Брянске, но могу посетить и другие города по вашему запросу.</p>
</div>
{% endblock %}
